{% block header3 %}
<div>
    <ul class="flex container-flex-end">
        <li>
            Mettre mon logement sur Airbnb
        </li>
        <li>
            <span class="material-symbols-outlined">
                language
            </span>
        </li>
        <li>
            <div class="flex container-count">
                <span class="material-symbols-outlined">
                    menu
                </span>
                <div class="container-icon">
                    <span class="material-symbols-outlined container-icon-fond">
                        person
                    </span>
                </div>
        </li>
    </ul>
</div>
{% endblock %}