{% block header1 %}
<div class="header2 flex"> 
  <a href="https://www.airbnb.fr/" target="_blank">
    <img id='logo' src="https://upload.wikimedia.org/wikipedia/commons/6/69/Airbnb_Logo_B%C3%A9lo.svg" alt="">
  </a>

  <div class="flex container-menu-central">
    <ul class="flex menu-central">
      <li class="strong">
        N'importe où
      </li>
      <li class="strong">
        Une semaine
      </li>
      <li>
        Ajouter des voyageurs
      </li>
      <li class="container-icon">
        <span class="material-symbols-outlined container-icon-fond">
          search
        </span>
      </li>
    </ul>
  </div>
  {% endblock %}