{% extends "base.html" %}

{% block content %}
<div class="form">
    <form action="" method="POST">
        <div>
            <label for="id"> Identifiant de la destination :
                <input type="text" name="id" id="id" value="{{ request.form['id'] }}">
            </label>
        </div>
        <span class="material-symbols-outlined">
            beach_access
        </span>
        <div>
            <label for="url-image"> Lien pour l'image principale :
                <input type="text" name="url-image" id="url-image">
            </label>
        </div>
        <span class="material-symbols-outlined">
            beach_access
        </span>
        <div>
            <label for="localisation"> Localisation du bien :
                <input type="text" name="localisation" id="localisation">
            </label>
        </div>
        <span class="material-symbols-outlined">
            beach_access
        </span>
        <div>
            <label for="type">Type :
                <select name="type" id="type">
                    <option value="Particulier">Particulier</option>
                    <option value="Professionnel">Professionnel</option>                    
                </select>
            </label>
        </div>
        <span class="material-symbols-outlined">
            beach_access
        </span>
        <div>
            <label for="dates"> Vos dates de disponibilité :
                <input type="text" name="dates" id="dates">
            </label>
        </div>
        <span class="material-symbols-outlined">
            beach_access
        </span>
        <div>
            <label for="prix"> Loyer demandé pour une journée :
                <input type="prix" name="prix" id="prix">
            </label>
        </div>
        <span class="material-symbols-outlined">
            beach_access
        </span>
        <div>
            <input type="submit" value="Valider votre modification!">
        </div>
    </form>
</div>
{% endblock %}